<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>메뉴 상세보기</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/itemDetail.css}" >
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <!-- 메뉴 상세보기 -->
        <div class="menu-horizontal">
            <!--메뉴 상단-->
            <div class="menu-top">
                <img class="menu-pic" th:src="${itemInfo.itemImageUrl}">
                <div class="menu-info">
                    <div class="menu-title" th:text="${itemInfo.name}">메뉴 이름</div>
                    <div class="menu-description" th:text="${itemInfo.description}">메뉴 설명</div>
                    <div class="menu-info-card">
                        <div class="menu-info-item">
                            <div class="info-label">가격</div>
                            <div class="menu-price" th:text="${itemInfo.price + '원'}">7000원</div>
                        </div>
                        <div class="menu-info-item">
                            <div class="info-label">평균 별점</div>
                            <div class="menu-rate" th:text="${itemInfo.avgRate + '/5.0'}">4.0/5.0</div>
                        </div>
                        <div class="menu-info-item">
                            <div class="info-label">주문 횟수</div>
                            <div class="menu-ordered-num" th:text="${itemInfo.orderedCount + '회'}">321</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 메뉴 리뷰 -->
            <div class="menu-mid">
                <div class="menu-review-card" th:if="${reviewList.size() == 0}">리뷰 없음</div>
                <div class="menu-review-card" th:each="review : ${reviewList}">
                    <div class="menu-review-rate" th:text="${review.rate}">4.0</div>
                    <div class="menu-review-comment" th:text="${review.comment}">너무 맛있어요.</div>
                </div>
            </div>

            <!--메뉴 버튼-->
            <form class="menu-bottom" th:action="@{'/admin/item/delete/' + ${itemInfo.itemId}}" th:method="post">
                <a href="#" class="stop-btn">메뉴 중지</a>
                <a th:href="@{'/admin/item/update/' + ${itemInfo.itemId}}" class="edit-btn">메뉴 수정</a>
                <button type="submit" class="delete-btn">메뉴 삭제</button>
            </form>
        </div>
    </div>
</body>
</html>