<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== Link Swiper's CSS ===== -->
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}" />
    <!-- ===== Fontawesome CDN Link ===== -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" />
    <script src="/js/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <title>주문 대기열</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/orderQueue.css}">
    </th:block>
</head>
<body>
    <div layout:fragment="content">
        <h3 class="i-name">
            <i class='bx bx-receipt icon'></i>
            주문 현황
        </h3>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide" th:attr="slide-order-id = ${order.id}" th:each="order : ${orders}">
                        <div class="card-content">
                            <div class="order-header">
                                <!-- 테이블 이름 출력 -->
                                <h4 class="name" th:text="${order.seatName}"></h4>
                                <!-- 주문 상태 출력 -->
                                <h5 class="status" th:text="'주문상태: ' + ${order.orderStatus}"></h5>

                                <div class="btns">
                                    <!-- 주문 취소 버튼 -->
                                    <button class="btn" th:onclick="'cancelOrder(\'' + ${order.id} + '\')'">취소</button>
                                    <!-- 주문 진행중 버튼 -->
                                    <button class="btn" th:onclick="'progressOrder(\'' + ${order.id} + '\')'">접수</button>
                                    <!-- 주문 완료 버튼 -->
                                    <button class="btn" th:onclick="'completeOrder(\'' + ${order.id} + '\')'">완료</button>
                                </div>
                            </div>
                            <h3 class="order-content-header">주문 내역</h3>
                            <!-- 주문 아이템 리스트 출력 -->
                            <div class="order-content">
                                <p th:each="orderItem : ${order.orderItems}" th:text="${orderItem.name} + ' : ' + ${orderItem.count} + '개'"></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>


        <script th:inline="javascript">
            // Swiper 인스턴스 초기화
            var swiper = initializeSwiper();

            // WebSocket 연결 및 메시지 수신 처리
            function connect() {
                let socket = new SockJS('/ws');
                let stompClient = Stomp.over(socket);

                stompClient.connect({}, function(frame) {
                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/user/topic/queue', function(message) {
                        let orders = JSON.parse(message.body);
                        displayOrder(orders);
                    });
                });
            }

            function displayOrder(orders) {
                let slideContent = document.querySelector('.slide-content .swiper-wrapper');
                clearSlideContent(slideContent);

                let fragment = document.createDocumentFragment();

                orders.forEach(order => {
                    let cardDiv = createCard(order);
                    fragment.appendChild(cardDiv);
                });

                slideContent.appendChild(fragment);

                // Swiper 업데이트
                swiper.update();
            }

            function createCard(order) {
                let cardDiv = document.createElement('div');
                cardDiv.classList.add('card');
                cardDiv.classList.add('swiper-slide');

                let cardContentDiv = document.createElement('div');
                cardContentDiv.classList.add('card-content');

                let orderHeaderDiv = document.createElement('div');
                orderHeaderDiv.classList.add('order-header');

                // 테이블 이름과 주문 상태 출력
                let tableHeader = createElement('h4', order.seatName);
                tableHeader.classList.add('name');
                orderHeaderDiv.appendChild(tableHeader);

                let statusHeader = createElement('h5', '주문상태: ' + order.orderStatus);
                statusHeader.classList.add('status');
                orderHeaderDiv.appendChild(statusHeader);

                // 취소, 진행중, 완료 버튼 추가
                let btnDiv = document.createElement('div');
                btnDiv.classList.add('btns');

                let cancelBtn = createButton('btn', '취소', () => cancelOrder(order.id));
                let progressBtn = createButton('btn', '접수', () => progressOrder(order.id));
                let completeBtn = createButton('btn', '완료', () => completeOrder(order.id));

                btnDiv.appendChild(cancelBtn);
                btnDiv.appendChild(progressBtn);
                btnDiv.appendChild(completeBtn);

                orderHeaderDiv.appendChild(btnDiv);
                cardContentDiv.appendChild(orderHeaderDiv);


                let orderContentHeader = createElement('h3', '주문 내역');
                orderContentHeader.classList.add('order-content-header');
                cardContentDiv.appendChild(orderContentHeader);

                let orderListDiv = document.createElement('div');
                orderListDiv.classList.add('order-content');

                let orderList = document.createElement('div');
                order.orderItems.forEach(orderItem => {
                    let listItem = document.createElement('p');
                    listItem.textContent = orderItem.name + ' : ' + orderItem.count + '개';
                    orderList.appendChild(listItem);
                });

                orderListDiv.appendChild(orderList);
                cardContentDiv.appendChild(orderListDiv);

                cardDiv.appendChild(cardContentDiv);

                return cardDiv;
            }

            function createElement(tagName, textContent) {
                let element = document.createElement(tagName);
                element.textContent = textContent;
                return element;
            }

            function createButton(className, text, onClickHandler) {
                let button = createElement('button', text);
                button.classList.add(className);
                button.onclick = onClickHandler;
                return button;
            }

            function clearSlideContent(slideContent) {
                slideContent.innerHTML = '';
            }

            function initializeSwiper() {
                return new Swiper('.slide-content', {
                    slidesPerView: 3,
                    spaceBetween: 25,
                    centerSlide: true,
                    fade: true,
                    grabCursor: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                        dynamicBullets: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },

                });
            }

            function sendOrderAction(orderId, action) {
                let socket = new SockJS('/ws');
                let stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    stompClient.send('/app/updateOrderStatus', {}, JSON.stringify({
                        'orderId': orderId,
                        'action': action
                    }));
                    stompClient.disconnect();
                });
            }

            // 취소 버튼 클릭 시
            function cancelOrder(orderId) {
                sendOrderAction(orderId, '취소');
            }

            // 진행중 버튼 클릭 시
            function progressOrder(orderId) {
                sendOrderAction(orderId, '접수');
            }

            // 완료 버튼 클릭 시
            function completeOrder(orderId) {
                sendOrderAction(orderId, '완료');
            }

            // 페이지 로드 시 WebSocket 연결
            connect();
        </script>
    </div>
</body>
</html>