<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/orderForm.css}">
    <style>
        .review-card{
            display: flex; /* Flexbox 사용 */
            flex-direction: row; /* 요소들을 가로로 정렬 (기본값이므로 생략 가능) */
        }
        .fixed-star {
            color: gray;
            cursor: pointer;
        }

        .fixed-star.active {
            color: orange;
        }
    </style>
    <title>Title</title>
</head>
<body class="">
    <div class="wrapper">
        <div class="screen-backdrop"></div>
        <div class="screen home-screen">
            <div class="head-wrapper">
                <div class="menu-btn">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
                        />
                    </svg>
                </div>
                <div class="welcome">
                    <div class="content">
                        <h1>메뉴</h1>
                        <p>원하시는 메뉴를 주문하세요!</p>
                    </div>
                    <div class="img">
                        <img th:src="${profile.profileImageUrl}" alt=""> <!-- 음식점 로고 사진 -->
                    </div>
                </div>
            </div>

            <!-- categories -->
            <div class="categories-wrapper">
                <div class="categories">
                    <th:block th:each="category : ${categories}">
                        <h1 th:text="${category.name}">카테고리명</h1>
                        <div class="category">
                            <input type="hidden" th:value="${category.categoryId}" class="categoryId">
                            <th:block th:each="item : ${category.items}">
                                <div class="item">
                                    <div class="left">
                                        <div class="content">
                                            <input type="hidden" th:value="${item.itemId}" class="itemId">
                                            <h1 th:text="${item.name}">아이템 이름</h1>
                                            <p th:text="${item.price} + '원'">아이템 가격</p>
                                            <p th:text="${item.avgRate} + ' / 5.0'">아이템 별점</p>
                                        </div>
                                        <div class="buttons">
                                            <button class="addCart" th:attr="itemId=${item.itemId}" onclick="addToCart(this)">담기</button>
                                            <button class="detail" th:attr="itemId=${item.itemId}" onclick="showItemDetail(this)">상세보기</button>
                                        </div>
                                    </div>
                                    <img th:src="${item.itemImageUrl}" alt="">
                                </div>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <div class="screen item-screen">
            <div class="head-wrapper">
                <div class="back-btn">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
                        />
                    </svg>
                </div>
            </div>
            <div class="item-details">
                <img class="image" src="/images/burger.jpg" alt="">
                <div class="details">
                    <h1 class="itemName">이름</h1>
                    <p class="description">설명</p>
                    <p class="price">가격</p>
                </div>
            </div>
            <div class="reviews-wrapper">
                <div class="reviews">
                    <div class="review-wrapper">
                        <div class="review">
                            <p>리뷰내용</p>
                        </div>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" id="pagedown" onclick="pageDown(this)"><</a>
                        <a class="page-link" id="pageup" onclick="pageUp(this)">></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 장바구니 버튼 -->
        <div class="cart-btn">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
            </svg>
        </div>

        <div class="black-backdrop"></div>
        <div class="cartTab">
            <div class="cart-backdrop"></div>
            <h1 class="heading">장바구니</h1>
            <form class="cart" method="post">
                <div class="orderItems">

                </div>
            </form>
            <div class="btns">
                <button type="button" class="order-btn" onclick="submitOrder()">주문하기</button>
            </div>
        </div>

        <div class="pop-up">
            <div class="modal-box">
                <i class="fa-regular fa-circle-check"></i>
                <h2>주문 완료</h2>
                <h3>금방 준비해드리겠습니다!</h3>

                <div class="buttons">
                    <button class="close-btn" onclick="window.location.reload()">확인</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/orderForm.js}"></script>
    <script th:inline="javascript">
        let currentPage = 1;
        let totalPage = 1;
        let items = [[${items}]];
        const details = document.querySelector(".item-details");
        async function showItemDetail(element) {
            let itemId = parseInt(element.getAttribute("itemId"));
            let item = findItemById(itemId);
            wrapper.classList.toggle('show-item');
            details.querySelector(".image").src = item.itemImageUrl;
            details.querySelector(".itemName").innerHTML = item.name;
            details.querySelector(".description").innerHTML = item.description;
            details.querySelector(".price").innerHTML = item.price + '원';
            document.querySelector("#pagedown").setAttribute("itemId", itemId.toString());
            document.querySelector("#pageup").setAttribute("itemId", itemId.toString());
            await getTotalPageOfReview(itemId);
            await getReview(itemId, currentPage);
        }

        async function getTotalPageOfReview(itemId){
            await fetch('/review/page/' + itemId.toString(), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text(); // JSON으로 파싱된 응답 반환
                })
                .then(result => {
                    totalPage = result;
                });
        }

        async function pageDown(element){
            let itemId = parseInt(element.getAttribute("itemId"));
            if (currentPage == 1) {
                await getReview(itemId, currentPage);
            }
            else {
                currentPage -= 1;
                await getReview(itemId, currentPage);
            }
        }

        async function pageUp(element) {
            let itemId = parseInt(element.getAttribute("itemId"));
            if (currentPage == totalPage) {
                await getReview(itemId, currentPage);
            }
            else {
                currentPage += 1;
                await getReview(itemId, currentPage);
            }
        }


        async function getReview(itemId, page){
            const details = document.querySelector(".reviews");
            details.innerHTML = '';
            await fetch('/review/get/'+ itemId.toString() + '?page=' + page.toString(), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // JSON 형식으로 파싱된 응답 반환
                })
                .then(reviewList => {
                    // 받아온 ReviewDto 목록(reviewList)을 순회하면서 각 객체의 rate와 comment 출력
                    reviewList.forEach(reviewDto => {
                        let reviewCard = document.createElement('div');
                        reviewCard.classList.add('review-card');
                        const rate = reviewDto.rate;
                        const comment = reviewDto.comment;
                        // 꽉찬 별 채우기
                        let activeStarSpan = document.createElement('span');
                        activeStarSpan.classList.add('fixed-star', 'active');

                        // rate 값에 따라 별(★) 추가
                        for (let i = 1; i <= rate; i++) {
                            const star = document.createElement('span');
                            star.textContent = '★'; // 별(★) 텍스트 설정
                            activeStarSpan.appendChild(star); // 생성된 별(★) 요소를 span 요소에 추가
                        }
                        // reviewCard 요소에 생성된 span 요소 추가
                        reviewCard.appendChild(activeStarSpan);
                        // 빈 별 채우기
                        let starSpan = document.createElement('span');
                        starSpan.classList.add('fixed-star');

                        // rate 값에 따라 별(★) 추가
                        for (let i = 1; i <= 5-rate; i++) {
                            const star = document.createElement('span');
                            star.textContent = '★'; // 별(★) 텍스트 설정
                            starSpan.appendChild(star); // 생성된 별(★) 요소를 span 요소에 추가
                        }
                        // reviewCard 요소에 생성된 span 요소 추가
                        reviewCard.appendChild(starSpan);

                        // comment
                        reviewCard.innerHTML = reviewCard.innerHTML + '<p class="review-comment">  ' + comment + '</p>';
                        details.appendChild(reviewCard);
                    })


                });
        }

        function findItemById(id) {
            return items.find(item => item.itemId == id);
        }


        const popup = document.querySelector(".pop-up"),
            closeBtn = document.querySelector(".close-btn");

        closeBtn.addEventListener("click", () =>
            popup.classList.remove("active")
        );

        async function submitOrder() {
            let response = await fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderItems),
                credentials: 'include'
            });
            if (await response.text() === 'true') {
                const cookies = response.headers.get('Set-Cookie');

                if (cookies){
                    document.cookie = cookies;
                    alert('브라우저에 쿠키 적용 완료' + document.cookie);
                }
                popup.classList.add("active");
            }
            else {
                alert('주문 오류');
            }
        }


    </script>
</body>
</html>