<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>테이블 관리</title>
    <th:block layout:fragment="css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/jquery-3.7.1.min.js"></script>
    </th:block>
</head>
<body>
    <div layout:fragment="content">
        <form method="post" th:if="${isCreate}" th:action="@{'/admin/seat/create'}">
            <label for="seatNameCreate"></label>
            <input type="text" id="seatNameCreate" name="seatName">
            <button type="submit">생성하기</button>
        </form>

        <form method="post" th:if="${!isCreate}" th:action="@{'/admin/seat/update/' + ${seat.seatId}}">
            <label for="seatNameUpdate"></label>
            <input type="text" id="seatNameUpdate" name="seatName" th:value="${seat.name}">
            <button type="submit">수정하기</button>
        </form>
    </div>
</body>
</html>