<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>테이블 현황</title>
    <!-- ===== Fontawesome CDN Link ===== -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/seatView.css}" />
</head>
<body>
<div layout:fragment="content">
    <div class="head-wrapper">
        <h3 class="i-name">
            <i class='icon'><img src="/images/table.png"></i>
            테이블 현황
        </h3>

        <div class="values">
            <div class="val-box">
                <i class='bx bxs-heart'></i>
                <div>
                    <h3>인기 많은 테이블</h3>
                    <span th:text="${mostOrderedSeat}"></span>
                </div>
            </div>

            <div class="val-box">
                <i class='bx bxs-heart'></i>
                <div>
                    <h3>인기 없는 테이블</h3>
                    <span th:text="${leastOrderedSeat}"></span>
                </div>
            </div>
        </div>

        <nav class="navbar">
            <!-- 새로고침 버튼 -->
            <button class="refresh" onclick="refreshPage()">새로고침</button>
            <!-- 서버 시간 표시 -->
            <span id="serverTime" class="serverTime">서버 시간: <span id="currentTime" th:text="${currentTime}"></span></span>

            <form class="table-create-form" th:action="@{'/admin/seat/create'}" method="post">
                <input type="text" id="seatCreate" name="seatName" placeholder="추가할 테이블 이름" required>
                <button type="submit" class="add-table">
                    <i class='bx bxs-plus-square'></i>
                </button>
            </form>
        </nav>
    </div>

    <div class="table-status">
        <div class="cardContainer" id="cardContainer">
            <!-- 카드가 동적으로 생성되는 곳 -->
        </div>

        <form hidden="hidden" method="post" id="emptyForm">
            <input type="text" id="seatId" name="seatId">
            <button type="submit"></button>
        </form>

        <script th:inline="javascript">
            var cardNum = [[${seatNum}]];
            var cardList = [[${seatList}]];

            // 카드 동적 생성 함수
            function createCards() {
                var cardContainer = document.getElementById('cardContainer');

                // cardNum의 배수에 맞게 빈 카드 생성
                var numEmptyCards = cardNum % 4 === 0 ? 0 : 4 - (cardNum % 4);
                for (var i = 0; i < cardNum + numEmptyCards; i++) {
                    var card = document.createElement('div');
                    card.className = 'col';

                    if (i < cardNum) {
                        // 카드에 데이터가 있는 경우
                        var cardContent = cardList[i]; // cardList에서 데이터 가져오기
                        card.innerHTML = `
                            <div class="card" seat-id="${cardContent.seatId}">
                                <!-- 테이블 이름 -->
                                <div class="card-header">
                                    <input class="table-name" id="table-name" value="${cardContent.seatName}" disabled>
                                    <div class="table-buttons">
                                        <form type="hidden" method="post" class="seatUpdateForm" action="/admin/seat/update/${cardContent.seatId}">
                                        </form>

                                        <form type="hidden" method="post" class="seatDeleteForm" action="/admin/seat/delete/${cardContent.seatId}">
                                        </form>

                                        <button type="button" onclick="disableInput(this)" class="save-table" hidden>
                                            <i class='bx bxs-save' ></i>
                                        </button>
                                        <a href="/admin/code/qr/${cardContent.seatId}" target='_blank' class="qr-table">
                                            <i class='bx bx-qr' ></i>
                                        </a>
                                        <button type="button" onclick="enableInput(this)" class="edit-table">
                                            <i class='bx bxs-edit' ></i>
                                        </button>
                                        <button type="button" onclick="deleteTable(this)" class="delete-table">
                                            <i class='bx bxs-trash' ></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- 주문 내역 -->
                                    <p class="orderedItems">${cardContent.orderedItems}</p>
                                </div>

                                <div class="bottom">
                                    <!-- 총 가격 -->
                                    <p class="totalPrice">총 ${cardContent.totalPrice}원</p>
                                    <div class="button-container">
                                        <button seat-id="${cardContent.seatId}" onclick="emptyTable(this)">비우기</button>
                                        <button seat-id="${cardContent.seatId}" onclick="billTable(this)">결제하기</button>
                                    </div>
                                </div>
                            </div>
                        `;
                    } else {
                        // 비어있는 카드인 경우
                        card.classList.add('empty-card');
                        card.innerHTML = `
                            <div class="card">
                                <div class="card-body">
                                    <!-- 비어있는 카드는 내용이 없습니다 -->
                                </div>
                            </div>
                        `;
                    }

                    cardContainer.appendChild(card);
                }
            }

            // 페이지 로드 시 카드 생성
            window.onload = createCards;
        </script>

        <script>
            function enableInput(target) {
                let input = target.parentElement.parentElement.querySelector(".table-name");
                let saveBtn = target.parentElement.querySelector(".save-table");
                input.removeAttribute("disabled");
                saveBtn.removeAttribute("hidden");
            }

            function disableInput(target) {
                let input = target.parentElement.parentElement.querySelector(".table-name");
                console.log(input.value);
                let saveBtn = target;
                input.setAttribute("disabled", true);
                saveBtn.setAttribute("hidden", true);


                let form = target.parentElement.querySelector(".seatUpdateForm");
                form.innerHTML += `
                    <input type="hidden" name="seatName" value="${input.value}">
                `;
                form.submit();
            }

            function deleteTable(target) {
                let form = target.parentElement.querySelector(".seatDeleteForm");
                form.submit();
            }

            function emptyTable(button) {
                let seatId = button.getAttribute("seat-id");
                let form = document.getElementById("emptyForm");
                document.getElementById("seatId").value = seatId;
                console.log(document.getElementById("seatId").value);
                form.submit();
            }

            function billTable(button) {
                let seatId = button.getAttribute("seat-id");
                window.location.href = "/admin/seat/bill/" + seatId;
            }


            function refreshPage(){
                window.location.reload();
            }
        </script>
    </div>
</div>
</body>
</html>