<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- ==== JS ===== -->
  <script src="/js/bootstrap.min.js"></script>
  <title>Entrance Code</title>

  <!-- Google Fonts Noto Sans Korean -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Noto Sans KR', sans-serif;
      margin: 0;
    }
    .container {
      padding: 2rem;
      border-radius: 8px;
    }

    .btn-entrance{
      background-color: #4CAF50; /* 조금 더 어두운 녹색 */
      color: #ffffff;
    }
  </style>
</head>
<body>
<div class="container text-center">
  <h2>인증번호 입력</h2>
  <form method="post">
    <div class="form-group">
      <label for="entranceCode">인증번호</label>
      <input type="text" class="form-control text-center" id="entranceCode" name="entranceCode" maxlength="4" pattern="\d{4}" required>
      <small id="authCodeHelp" class="form-text text-muted">4자리 숫자로 입력해 주세요.</small>
    </div>
    <button type="submit" class="btn btn-entrance">확인</button>
  </form>
</div>

<!-- JavaScript to ensure only 4 digits are entered -->
<script>
  document.getElementById('entranceCode').addEventListener('input', function (e) {
    e.target.value = e.target.value.replace(/[^0-9]/g, '').slice(0, 4);
  });
</script>
</body>
</html>