<html xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="sidebarFragment" class="sidebar">
        <header>
            <div class="image-text">
                <a href="/home" class="image">
                    <img src="/images/EZOrder.svg" alt="">
                </a>
                <div class="text header-text">
                    <span class="name">EZOrder</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/myprofile">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">마이페이지</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/admin/item">
                            <i class='bx bx-baguette icon' ></i>
                            <span class="text nav-text">메뉴 관리</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/admin/queue">
                            <i class='bx bx-receipt icon'></i>
                            <span class="text nav-text">주문 현황</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/admin/seat/view">
                            <i class='icon'><img src="/images/table.png"></i>
                            <span class="text nav-text">테이블 현황</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/owner/code/entrance" target="_blank">
                            <i class='bx bx-printer icon' ></i>
                            <span class="text nav-text">인증 번호</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">로그아웃</span>
                    </a>
                </li>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    </nav>

</html>