<html xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="sidebarFragment" class="sidebar">
        <header>
            <div class="image-text">
                        <span class="image">
                            <img src="/images/logo.png" alt="logo">
                        </span>
                <div class="text header-text">
                    <span class="name">EZOrder</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon' ></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/myprofile">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">마이페이지</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/owner/menu">
                            <i class='bx bx-baguette icon' ></i>
                            <span class="text nav-text">메뉴 관리</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/owner/queue">
                            <i class='bx bx-receipt icon'></i>
                            <span class="text nav-text">주문 현황</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">매출 확인</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">리뷰 관리</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/owner/seat/manage">
                            <i class='icon'><img src="/images/table.png"></i>
                            <span class="text nav-text">테이블 관리</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-printer icon' ></i>
                            <span class="text nav-text">프린터 설정</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">로그아웃</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon' ></i>
                        <i class='bx bx-sun icon sun' ></i>
                    </div>
                    <span class="mode-text text">다크모드</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    </nav>

</html>