* {
    font-family: "Poppins", sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-form {
    width: 80%;
    height: 50%;
    background: #fff;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.item-form .content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.item-form .content .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left-side .wrapper {
    position: relative;
    width: 15rem;
    height: 15rem;
    background: #fff;
    border: 2px dashed #727171;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #779b8b;
}

.wrapper .text {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #585B7B;
}

.wrapper #cancel-btn {
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: 1rem;
    cursor: pointer;
    color: #9658fe;
    display: none;
}

.wrapper.active:hover #cancel-btn {
    display: block;
}

.wrapper #cancel-btn:hover {
    color: #e74c3c;
}

.left-side #custom-btn {
    margin-top: 1.3rem;
    width: 15rem;
    height: 2rem;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: #779b8b;
}

.item-form .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.item-form .content .right-side .item-form-header {
    font-size: 23px;
    font-weight: 600;
    color: #587769;
}

.right-side .categories {
    border: none;
    font-size: 16px;
    border-radius: 6px;
    background: #f0f1f8;
    padding: 0 15px;
    margin: 12px 0;
    resize: none;
}

.right-side .input-box {
    height: 3rem;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    background: #f0f1f8;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side button {
    display: inline-block;
    margin-top: 12px;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #587769;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side button:hover {
    background: #779b8b;
}

@media(max-width:820px) {
    .item-form {
        margin: 40px 0;
        height: 100%;
    }

    .item-form .content {
        flex-direction: column-reverse;
    }

    .item-form .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .item-form .content .left-side::before {
        display: none;
    }

    .item-form .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}