@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    position: relative; z-index: 2;
}

.login-form .image {
    display: flex;
    justify-content: center;
}

.login-form img {
    width: 10rem;
    margin-bottom: 60px;
}

.int-area {
    width: 320px;
    position: relative;
    margin-top:20px;
}
.int-area:first-child {
    margin-top: 0;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size:16px;
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 16px;
    color:rgba(64.00000378489494, 64.00000378489494, 64.00000378489494, 1);
    transition: all .5s ease;
}
.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 2;
}
@keyframes warning {
    0% {transform: translateX(-2px);}
    25% {transform: translateX(2px);}
    50% {transform: translateX(-2px);}
    75% {transform: translateX(2px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
    top:0;
    font-size: 11px; color: #166cea;
}

.global-error {
    padding: 10px;
    color: red !important;
    font-family:Noto Sans KR, sans-serif;
    font-size:11px;
    text-align: left;
}

.btn-area {
    margin-top: 50px;
}
.btn-area button {
    width: 100%; height: 50px;
    background: #cefde7;
    color: #565656;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 16px;
    text-decoration: none;
}