<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
    <title>인증번호</title>
</head>
<style>
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 3rem;
    }

    .entranceCode {
        font-size: 25rem;
    }
</style>
<body>
    <h1>인증번호</h1>
    <div class="entranceCode" id="entranceCode" th:text="${entranceCode}"></div>
</body>
<script>
    let stompClient = null;

    function connect() {
        let socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/user/topic/entranceCode', function(message) {
                showEntranceCode(message.body);
            });
        });
    }

    function showEntranceCode(code) {
        document.getElementById('entranceCode').innerText = code;
    }

    document.addEventListener('DOMContentLoaded', function() {
        connect();
    });
</script>
</html>