<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
  maximum-scale=1.0, minimum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loginForm.css">
</head>
<body>
<div class="container">
    <div class="logo"></div>

    <form class="login-form" th:object="${loginFormDto}" method="post">
        <div class="form-group">
            <label for="loginId" class="form-label">아이디 *</label>
            <input class="form-input-text" id="loginId" type="text" placeholder="아이디를 입력해주세요." required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">비밀번호 *</label>
            <input class="form-input-text" id="password" type="password" placeholder="비밀번호를 입력해주세요." required>
        </div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="global-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <button class="login-button" type="submit">로그인</button>
    </form>

    <div class="ask-register">
        <span>계정이 없으신가요?&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="/register" style="color: blue">회원가입</a>
    </div>

</div>
</body>
</html>
