<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메뉴 관리</title>
  <link rel="stylesheet" href="/css/sidebar.css" >
  <link rel="stylesheet" href="/css/itemManage.css" >
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/8eb04a528c.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- 기본 틀 (사이드 바) -->
<nav class="sidebar">
  <header>
    <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png" alt="logo">
                </span>
      <div class="text header-text">
        <span class="name">EZOrder</span>
      </div>
    </div>

    <i class='bx bx-chevron-right toggle'></i>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class='bx bx-search icon' ></i>
        <input type="text" placeholder="Search...">
      </li>
      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-home-alt icon' ></i>
            <span class="text nav-text">마이페이지</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/myprofile">
            <i class='bx bx-baguette icon' ></i>
            <span class="text nav-text">메뉴 관리</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-receipt icon'></i>
            <span class="text nav-text">주문 현황</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-pie-chart-alt icon' ></i>
            <span class="text nav-text">매출 확인</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-heart icon' ></i>
            <span class="text nav-text">리뷰 관리</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="/owner/seat/manage">
            <i class='icon'><img src="/images/table.png"></i>
            <span class="text nav-text">테이블 관리</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-printer icon' ></i>
            <span class="text nav-text">프린터 설정</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="/logout">
          <i class='bx bx-log-out icon' ></i>
          <span class="text nav-text">로그아웃</span>
        </a>
      </li>

      <li class="mode">
        <div class="moon-sun">
          <i class='bx bx-moon icon moon' ></i>
          <i class='bx bx-sun icon sun' ></i>
        </div>
        <span class="mode-text text">다크모드</span>

        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>

<!--메뉴 관리 관련 내용 -->
<div class="container">
  <div class="item-container">
    <div class="item-top-container">
      <div class="item-stat-card">
        <div class="item-stat-label">가장 별점이 좋은 메뉴</div>
        <div class="highest-rate-item" th:text="${itemStat.bestRateMenu + ' ' + itemStat.bestRateNum + '/5.0'}">단무지 (4.5/5.0)</div>
        <div class="item-stat-label">가장 주문이 많은 메뉴</div>
        <div class="most-ordered-item" th:text="${itemStat.mostOrderedMenu + ' ' + itemStat.mostOrderedNum + '회'}">김치 (105회)</div>
      </div>

      <div class="item-button-container">
        <a class="item-button" th:href="@{/owner/menu/create}">메뉴 만들기</a>
      </div>
    </div>


    <table class="item-list-container">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Average Rate</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${itemList}" th:id="${item.itemId}">
        <td th:text="${item.name}">파멸의 김치찌개(파, 멸치)</td>
        <td th:text="${item.price}">9999</td>
        <td th:text="${item.avgRate}">2.5</td>
        <td>
          <form  th:action="${'/owner/menu/delete/' + item.itemId }" method="post">
            <button type="submit">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/js/sidebar.js" ></script>
</body>
</html>