<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 프로필 수정</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/registerForm.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<section class="register-form">
    <div class="header">
        <input type="button" onclick="history.back()">
        <h1>프로필 수정</h1>
    </div>
    <form action="" method="post">
        <p class="field-error" th:if="${param.unauthorized}">현재 비밀번호가 일치하지 않습니다.</p>
        <p class="field-error" th:if="${param.pwderror}">비밀번호는 8~16자 사이로 지어주세요.</p>
        <div class="int-area">
            <input class="filled" type="text" name="username" id="username" autocomplete="off" th:value="${profile.username}" required readonly>
            <label for="username">아이디 *</label>
        </div>
        <div class="int-area">
            <input type="password" name="changedPassword" id="changedPassword" autocomplete="off" required>
            <label for="changedPassword">변경할 비밀번호 *</label>
        </div>
        <div class="int-area">
            <input type="password" name="passwordCheck" id="passwordCheck" autocomplete="off" required>
            <label for="passwordCheck">변경할 비밀번호 확인 *</label>
        </div>
        <div class="int-area">
            <input type="text" name="name" id="name" autocomplete="off" th:value="${profile.name}" required>
            <label for="name">이름 *</label>
        </div>
        <div class="int-area">
            <input type="password" name="currentPassword" id="currentPassword" autocomplete="off" required>
            <label for="currentPassword">현재 비밀번호 *</label>
        </div>
        <div class="btn-area">
            <button id="btn" type="submit">다음</button>
        </div>
    </form>
</section>

<script>
    let username = $('#username');
    let pw = $('#changedPassword');
    let pwCheck = $('#passwordCheck');
    let name = $('#name');
    let curPw = $('#currentPassword')
    let btn = $('#btn');

    $(btn).on('click', function() {
        if($(username).val() === "") {
            $(username).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
            event.preventDefault();
        }
        else if($(pw).val() === "") {
            $(pw).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
            event.preventDefault();
        }
        else if($(pwCheck).val() === "") {
            $(pwCheck).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
            event.preventDefault();
        }
        else if($(name).val() === "") {
            $(name).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
            event.preventDefault();
        }
        else if($(curPw).val() === "") {
            $(curPw).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
            event.preventDefault();
        }
        else if ($(pw).val() !== $(pwCheck).val()) {
            $(pw).next('label').addClass('warning');
            $(pwCheck).next('label').addClass('warning');
            setTimeout(function() {
                $('label').removeClass('warning');
            }, 1500);
            event.preventDefault();
        }
    });

</script>
</body>
</html>
