<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
  <title>회원정보</title>
  <th:block layout:fragment="script">
    <script src="/js/jquery-3.7.1.min.js"></script>
  </th:block>
</head>
<body>

    <div layout:fragment="content">
        <div>유저이름</div>
        <div th:text="${profile.username}"></div>

        <div>이름</div>
        <div th:text="${profile.name}"></div>

        <a href="/myprofile/edit" th:if="${isMine}">수정하기</a>
    </div>
</body>
</html>